@import "compass/reset";
@import "compass/css3";

$border-color: #000;
$error-color: #d9534f;
$warning-color: #f0ad4e;
$success-color: #5cb85c;
$box-margin: 10px 5px 10px 5px;

/* Schaff es nicht dass sich das scss updated. */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}
/* dies ist ein zweiter kommentar*/
/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}

input[type="text"],input[type="password"] {
    border:1px solid $border-color;
    padding:5px;
    margin:$box-margin;

    width: 180px;
}

input[type="submit"] {
    border:1px solid $border-color;
    border-radius:0;
    background-color:#000;
    margin:$box-margin;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}


.feedback {
    margin: $box-margin;
    font-size: 11px;
    font-weight: 600;

    &.error {
        color: $error-color;
    }

    &.warning {
        color: $warning-color;
    }

    &.success {
        color: $success-color;
    }

    &.error, &.warning, &.success {
        display: none;
    }
}
.strengthIndicator {
    margin: $box-margin;
    width: 200px;
    padding: 5px;
    height: 13px;
    border: 1px solid #d3d3d3;

    &::before {
        content: "";
        display: block;
        height: 100%;

        -moz-transition-property: width;
        -o-transition-property: width;
        -webkit-transition-property: width;
        transition-property: width;

        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -webkit-transition-delay: 0;
        transition-delay: 0;

        -moz-transition-duration: 250ms;
        -o-transition-duration: 250ms;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;

        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }
}


.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error {
    &.strengthIndicator::before {
        width: 10%;
        background-color: $error-color;
    }

    &.feedback.error {
        display: block;
    }
}

.warning {
    &.strengthIndicator::before {
        width: 60%;
        background-color: $warning-color;
    }

    &.feedback.warning {
        display: block;
    }
}

.success {
    &strengthIndicator::before {
        width: 100%;
        background-color: $success-color;
    }

    &.feedback.success {
        display: block;
    }
}

